.Navbar {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 2, 2);
  color: white;
  z-index: 1;
  font-size: xx-large;
  font-weight: bolder;
}
